{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}
    {% if show_import_export_buttons %}
        <li>
            <a href="{{ export_url }}" class="exportlink">
                <i class="fas fa-download"></i> Exporter CSV
            </a>
        </li>
        <li>
            <a href="{{ import_url }}" class="importlink">
                <i class="fas fa-upload"></i> Importer CSV
            </a>
        </li>
    {% endif %}
    {{ block.super }}
{% endblock %}

{% block extrahead %}
{{ block.super }}
<style>
    .exportlink, .importlink {
        background: #79aec8;
        color: #fff;
        padding: 8px 12px;
        border-radius: 3px;
        text-decoration: none;
        margin-right: 5px;
    }
    .exportlink:hover, .importlink:hover {
        background: #417690;
        color: #fff;
        text-decoration: none;
    }
    .exportlink i, .importlink i {
        margin-right: 5px;
    }
</style>
{% endblock %}
